<div class="cedula">

    <div class="contenedorCargar  ">
        <div class="ayuda" class="mt-5 ml-5">
            <h4>Para poder comenzar el proceso es necesario cargar la cedula</h4><br>

            <h5>Para realizar este proceso debes tener en cuenta lo siguiente: </h5><br>


            <li>Se requiere foto de la de la cedula por ambos lados en un archivo</li><br>
            <li>Se requiere que la imagen sea legible y clara</li><br>
            <li>Se requiere que la foto sea tomada sin flash</li><br>
            <li>Se requiere la foto en formato .jpg .png o un archivo .pdf</li><br>
            
            <button class="ui-button-primary-default-focu" mat-button matStepperNext
                [disabled]="continuar">Continuar</button>
        </div>

        <mat-divider class="Dividir" [vertical]="true"></mat-divider>
        <div  class="center">
            <h5>Sube una imagen de tu cedula </h5><br>
            <div for="subeImagen" class="form-group" class="adjuntar">
                <img class="Imgcedula" [src]="imgURL" *ngIf="imgURL">
                <div *ngIf="Habilitado==false">
                <input  id="subeImagen"  #file type="file" accept='image/*' (change)="preview(file.files)" value="Type here">
        
                <label for="subeImagen" class="t-Img">Seleccionar Imagen</label>
            </div>
            </div>

            
            <div *ngIf="Habilitado==true" class="btn-Seleccionar">
                <input  id="subeImagen"  #file type="file" accept='image/*' (change)="preview(file.files)" >
        
                <label tipe="Button" for="subeImagen" class="InputFile">Seleccionar Imagen</label>
        
            </div>
        </div> 
        
        <div>

        </div>

    </div>
    

</div>