.contenedorCargar{

display: flex;
justify-content: center;
}

.center{
    width: 50%;
    padding-top: 12%;
    padding-left: 5%;
}
.cedula{
    display: flex;
justify-content: center;
}
.subir{
    height:100% ;
    
}

.ayuda{
    
}