.contenedorCargar{
margin:2%;
display: flex;
justify-content: center;
}

.center{
    width: 40%;
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
}



.adjuntar{
color: #808285;
    border: 2px dashed #ccc;
    background: url("../../assets/camera.8427a75d9ae405d3a090.svg")  center 40% no-repeat #eaeaea;
    max-width: 500px ;
   height:70%;
   width: 80%;
    overflow: auto;
    display: block;
    text-align: center;
    position: relative;
    margin-left: 10%;
   
}

.Imgcedula{
    max-height:100%;
    width:60%;
    
   
}

.t-Img{
    color: rgb(62, 62, 175);
    position: absolute;
	top: 90%;
	left: 50%;
	height: 30%;
	width: 50%;
    margin: -15% 0 0 -25%;

}
.btn-Seleccionar{
    margin-top: 2%;
}
.InputFile{
    box-sizing: border-box;	
    height: 46px;	width: 283.43px;	
    border: 1px solid #00448D;	
    border-radius: 100px;
    height: 24px;	width: 226.2px;	
    color: #00448D;	
    font-family: Nunito;	
    font-size: 20px;	
    font-weight: bold;
    letter-spacing: -0.38px;
    line-height: 24px;
    text-align: center;
}


#subeImagen{
display:none;
}

.ayuda{
    margin-right:4%;
}
.ui-button-primary-default-focu {	
    	
    height: 60px;	
    width: 220px;
     border-radius: 30px;	
     background-color:#FFCF01;	
     box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 1px 3px 0 rgba(0,0,0,0.1);
     text-align:center;
     align-items: center;
     justify-content: center;
     font-family: Nunito;	
     font-size: 20px;	
     font-weight: bold;	
     letter-spacing: -0.38px;	
     line-height: 24px;
     text-align: center;
     margin-left: 50%;
     transform: translateX(-50%);
}

.h-3-heading-dark-left {		
    width: 100%;	
    color: #00448D;	
    font-family: Nunito;
    font-size: 28px;
    font-weight: bold;
    
    line-height: 30px;
   }


   
  .body-dark-left {	
      
    width: 100%;
    color: #292929;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.3px;
                       }
 .boton{
     margin-top: 40%;
 }

                       
                       