<div class="principal">
    <div>
            <mat-card class="card">
        <div>
            <h4 class="h-3-heading-dark-left ">Igresa tu información personal: </h4>

            <h6 class="subtitulo">¡En este paso te solicitamos digitar algunos datos acerca de tu información  personal y económica, esto será sencillo! </h6>
        </div>
     
        <div class="formIngresar">
           
            <form [formGroup]="formGroup" class="formDatosPersonales">
                <div class="form-group">

                    <div class="form-row">
                        <div class="col">
                            <label class="body-dark-left">Nombre: </label>
                            <input type="text" class="form-group is-valid " class="form-control mx-sm-1 mb-2"
                                formControlName="nombre" >
                                <span style="color:Red;" *ngIf="formGroup.controls['nombre'].touched && formGroup.controls['nombre'].errors?.required">El nombre es requerido</span>
                        </div>
                        <div class="col">
                            <label class="body-dark-left">Apellido: </label>
                            <input type="text" class="form-group" class="form-control" formControlName="apellido"  >
                            <span style="color:Red;" *ngIf="formGroup.controls['apellido'].touched && formGroup.controls['apellido'].errors?.required ">El apellido es requerido</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label class="body-dark-left">Cedula: </label>
                            <input type="number" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="cedula" >
                                <span style="color:Red;" *ngIf="formGroup.controls['cedula'].touched && formGroup.controls['cedula'].errors?.required ">La cedula  es requerida</span>
                        </div>
                        <div class="col">
                            <label class="body-dark-left">Celular: </label>
                            <input type="number" class="form-group" class="form-control" formControlName="celular" >
                            <span style="color:Red;" *ngIf="formGroup.controls['celular'].touched && formGroup.controls['celular'].errors?.required">El número de celular es requerido</span>
                        </div>
                        
                    </div>

                    <label class="body-dark-left">email electrónico: </label>
                    <input type="mail" class="form-group" class="form-control" formControlName="email"><br>
                    <span style="color:Red;" *ngIf="formGroup.controls['email'].touched && formGroup.controls['email'].errors?.required">El email es requerido</span>

                    <div class="form-row">
                        <div class="col">
                            <label class="body-dark-left">Genero: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="genero" >
                                <option value="">Seleccionar</option> 
                                <option *ngFor="let nombreGenero of genero" >{{nombreGenero.nombre}}</option>
                            </select>
                            <span style="color:Red;" *ngIf="formGroup.controls['genero'].touched && formGroup.controls['genero'].errors?.required ">El genero es requerido</span>


                        </div>
                        <div class="col">
                            <label class="body-dark-left">Estado civil: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="estadocivil">
                                <option value="">Seleccionar</option> 
                                <option *ngFor="let estado of estadoCivil ">{{estado.nombre}} </option>
                            </select>
                          
                        </div>
                    </div>



                </div>
            </form><br>
         
            <form [formGroup]="formGroup2" class="formDatosPersonales" (ngSubmit)="submit()">
                    <h4 class="h-3-heading-dark-left ">Información de residencia: </h4>
                
                <div class="form-row">
                    <div class="col-sm-6">
                        <label class="body-dark-left">Pais: </label>
                        <select  (change)="LlenarDepartamento()"  class="form-control form-control-sm" class="form-group "
                            class="form-control mx-sm-1 mb-2" formControlName="pais" >
                            <option value="">Seleccionar</option> 
                            <option *ngFor="let pais of Pais" [value]="pais.idPaises">{{pais.nombre}}</option>
                        </select>


                    </div>
                    <div class="col-sm-6">
                        <label class="body-dark-left"> Departamento</label>
                        <select  (change)="LlenarCiudad()"  class="form-control form-control-sm " class="form-group "
                            class="form-control mx-sm-1 mb-2" formControlName="departamento" >
                            <option value="">Seleccione Departamento</option>
                           
                            <option *ngFor="let dep of Departamento" [value]="dep.idDepartamento">{{dep.nombre}}</option>
                        </select>
                        
                    </div>
                </div>
               
                    <label class="body-dark-left"> Ciudad</label>
                    <select class="form-control-sm" class="form-group " class="form-control mb-2"
                        formControlName="idciudad">
                        <option value="">Seleccione Una Ciudad</option>
                        <option *ngFor="let ciu of Ciudad"  [value]="ciu.idCiudad">{{ciu.nombre}}</option>
                    </select>
                    



                <label> Dirección de la residencia</label>

                <div class="form-row">
                    <div class="col-4">
                        <select class="form-control form-control-sm" class="form-group "
                            class="form-control mx-sm-1 mb-2" formControlName="nomenclatura">
                            <option value="">Seleccionar</option>
                            <option *ngFor= "let esquemas of Direcciones">
                                {{esquemas.nombre}}
                            </option>
                        </select>

                    </div>
                    <div class="col">
                        <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                            formControlName="numeroinicial" placeholder="Ejemplo:48 B">
                    </div>
                    <label>#</label>
                    <div class="col">
                        <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                            formControlName="numerosecundario" placeholder="Numero">
                    </div>

                </div>
                <div>
                   
                </div>
            </form>
        </div>
        <button type="button"  neme="submit"  id="btnSubmit"  class="ui-button-primary-default-focu" (click)="submit()" (click)="validateForm()"   mat-button matStepperNext  >Continuar </button>
    </mat-card>
    </div>

    
</div>