<div class="principal">
    <div>
        <div>
            <h4>Igresa tu información personal: </h4>

            <h6>¡En este paso te solicitamos digitar algunos datos acerca de tu información  personal y económica, esto será sencillo! </h6>
        </div>

        <div class="formIngresar">

            <form [formGroup]="formGroup" class="formDatosPersonales">
                <div class="form-group">

                    <div class="form-row">
                        <div class="col">
                            <label>Nombre: </label>
                            <input type="text" class="form-group is-valid " class="form-control mx-sm-1 mb-2"
                                formControlName="nombre" required>
                        </div>
                        <div class="col">
                            <label>Apellido: </label>
                            <input type="text" class="form-group" class="form-control" formControlName="apellido">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Cedula: </label>
                            <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="cedula">
                        </div>
                        <div class="col">
                            <label>Celular: </label>
                            <input type="text" class="form-group" class="form-control" formControlName="celular">
                        </div>
                    </div>

                    <label>Correo electrónico: </label>
                    <input type="mail" class="form-group" class="form-control" formControlName="correo"><br>


                    <div class="form-row">
                        <div class="col">
                            <label>Genero: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="genero">
                               
                                <option *ngFor="let nombreGenero of genero">{{nombreGenero.nombre}}</option>
                            </select>

                        </div>
                        <div class="col">
                            <label>Estado civil: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="estadoCivil">
                                <option *ngFor="let estado of estadoCivil ">{{estado.nombre}} </option>
                            </select>
                        </div>
                    </div>



                </div>
            </form>
            <form [formGroup]="formGroup2" class="formDatosPersonales" (ngSubmit)="submit()">

                <h4>Información de residencia: </h4>
                <div class="form-row">
                    <div class="col-sm-6">
                        <label>Pais: </label>
                        <select  (change)="LlenarDepartamento()" class="form-control form-control-sm" class="form-group "
                            class="form-control mx-sm-1 mb-2" formControlName="pais">
                            <option *ngFor="let pais of Pais" [value]="pais.idPaises">{{pais.nombre}}</option>
                        </select>

                    </div>
                    <div class="col-sm-6">
                        <label> Departamento</label>
                        <select  (change)="LlenarCiudad()"  class="form-control form-control-sm " class="form-group "
                            class="form-control mx-sm-1 mb-2" formControlName="departamento">
                            <option>Seleccione Un Departamento</option>
                            <option *ngFor="let dep of Departamento" [value]="dep.idDepartamento">{{dep.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label> Ciudad</label>
                    <select class="form-control-sm" class="form-group " class="form-control mb-2"
                        formControlName="ciudad">
                        <option>Seleccione Una Ciudad</option>
                        <option *ngFor="let ciu of Ciudad">{{ciu.nombre}}</option>
                    </select>
                </div>



                <label> Dirección de la residencia</label>

                <div class="form-row">
                    <div class="col">
                        <select class="form-control form-control-sm" class="form-group "
                            class="form-control mx-sm-1 mb-2" formControlName="inicioDireccion">
                            <option *ngFor= "let esquemas of Direcciones">
                                {{esquemas.nombre}}
                            </option>
                        </select>

                    </div>
                    <div class="col">
                        <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                            formControlName="numeroInicioDireccion" placeholder="Ejemplo:48 B">
                    </div>
                    <label>#</label>
                    <div class="col">
                        <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                            formControlName="numeroDireccion" placeholder="Numero">
                    </div>

                </div>
                <div>
                    <button type="submit"   id="btnSubmit"  class="btn btn-primary" mat-button matStepperNext  [disabled]="continuar">Continuar </button>
                </div>
            </form>
        </div>
        

    </div>

    
</div>