.formIngresar{
    width: 100%;
    padding: 3%;
}

.principal{
    display: flex;
    justify-content: center;
    
}
.card{
     padding: 10%;

}


.ui-button-primary-default-focu {	
    height: 60px;	
    width: 220px;
     border-radius: 30px;	
     background-color:#FFCF01;	
     box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 1px 3px 0 rgba(0,0,0,0.1);
     text-align:center;
     align-items: center;
     justify-content: center;
     font-family: Nunito;	
     font-size: 20px;	
     font-weight: bold;	
     letter-spacing: -0.38px;	
     line-height: 24px;
     text-align: center;
     margin-left: 50%;
     transform: translateX(-50%);
}


.h-3-heading-dark-left {	height: 90px;	
    width: 431px;	
    color: #00448D;	
    font-family: Nunito;
    font-size: 28px;
    font-weight: bold;
    
    line-height: 30px;
   }


   .body-dark-left {	
      
    width: 300px;
    color: #292929;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.3px;
   }

   .subtitulo{

    padding: 0%;

   }