<div class="principal">
    
            <mat-card class=card>
        <div>
            <h4>Ingresa tu información económica: </h4>
        </div>

        <div class="formIngresar">

            <form [formGroup]="formGroup" class="formInformacionEconomica" (ngSubmit)="submit()" >
                <div class="form-group">

                    <div class="form-row">
                        <div class="col-sm">
                            <label>Ocupación: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="ocupacion">
                                <option value="">Seleccionar</option> 
                                <option *ngFor="let ocupacion of Ocupacion"  [ngValue]='ocupacion'>{{ocupacion.nombre}}</option>
                            </select>
                            <span style="color:Red;"
                                *ngIf="formGroup.controls['ocupacion'].touched && formGroup.controls['ocupacion'].errors?.required">la
                                ocupación es requerida</span>
                        </div>
                        <div class="col-sm">
                            <label>CIIU: </label>
                            <input type="number" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="ciiu">
                        </div>
                        <div class="col-1-sm"  >
                            <span matTooltip="consultar codigo CIIU en la pagina del Dane"><img  class="logo" src="../../assets/nubePregunta.png " ></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm">
                            <label>Ventas anuales: </label>
                            <input type="number" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="ventasAnuales">

                            <span style="color:Red;"
                                *ngIf="formGroup.controls['ventasAnuales'].touched && formGroup.controls['ventasAnuales'].errors?.required">las
                                ventas anuales son requeridas</span>
                        </div>
                            

                        <div class="col-sm">

                            <label>Total ingresos mensuales:</label>
                                
                            
                            
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="totalMensuales">
                                <option value="">Seleccionar</option> 
                                <option *ngFor="let gastosmensuales of GastosMensuales ">
                                    {{gastosmensuales.cantidad}}
                                </option>
                            </select>
                            <span style="color:Red;"
                                *ngIf="formGroup.controls['totalMensuales'].touched && formGroup.controls['totalMensuales'].errors?.required">los
                                ingresos son requeridos</span>


                        </div>
                    </div>

                    

                        <div class="form-row">
                            <div class="col-sm">
                                <label>País origen de los ingresos: </label>
                                <select class="form-control form-control-sm" class="form-group "
                                    class="form-control mx-sm-1 mb-2" formControlName="paisOrigenIngresos">
                                    <option value="">Seleccionar</option> 
                                    <option *ngFor="let paises of PaisesInfoEconomica "  [value]="paises.idPaises">
                                        {{paises.nombre}}
                                    </option>
                                </select>
                                <span style="color:Red;"
                        *ngIf="formGroup.controls['paisOrigenIngresos'].touched && formGroup.controls['paisOrigenIngresos'].errors?.required">el
                        país es requerido</span>
                            </div>
                        </div>

                    <div class="form-row">
                        <div class="col-sm">
                            <label>Gastos mensuales: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="gastosMensuales">
                                <option value="">Seleccionar</option> 
                                <option *ngFor="let gastosmensuales of GastosMensuales ">
                                    {{gastosmensuales.cantidad}}
                                </option>
                            </select>
                            <span style="color:Red;"
                                *ngIf="formGroup.controls['gastosMensuales'].touched && formGroup.controls['gastosMensuales'].errors?.required">los
                                Gastos mensuales son requeridos</span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-sm">
                            <label>Activos: </label>
                            <input type="number " class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="activos">

                            <span style="color:Red;"
                                *ngIf="formGroup.controls['activos'].touched && formGroup.controls['activos'].errors?.required">los
                                activos son requeridos</span>
                        </div>
                        <div class="col-sm">
                            <label>pasivos: </label>
                            <input type="number" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="pasivos">

                            <span style="color:Red;"
                                *ngIf="formGroup.controls['pasivos'].touched && formGroup.controls['pasivos'].errors?.required">los
                                pasivos son requeridos</span>
                        </div>
                    </div>


                </div>

                <div>
                    <label class="form-check-label" for="exampleRadios2">
                        ¿Estás obligado a tributar en otro país?
                    </label><br>


                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="obligadoTributar" id="radio5"
                            [value]=true formControlName="obligadoTributar" (click)="ValidarOtroPaisTributa('si')">
                        <label class="form-check-label" for="inlineRadio1">SI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="obligadoTributar" id="radio4"
                            [value]=false formControlName="obligadoTributar"  (click)="ValidarOtroPaisTributa ('no')">
                        <label class="form-check-label" for="inlineRadio2">NO</label>
                    </div>
                    <div *ngIf="paisTributo"> 
                            <label class="form-check-label" for="exampleRadios2">
                                    ¿ País que tributa ? 
                                </label><br>
                            <select class="form-control form-control-sm" class="form-group " class="form-control mx-sm-1 mb-2"
                            formControlName="paisOperacion">
                            <option value="">Seleccionar</option> 
                            <option *ngFor="let paises of PaisesInfoEconomica " > 
                                {{paises.nombre}}
                            </option>
                        </select>
                    </div>
                </div><hr>
                <div>
                        <label class="form-check-label" for="exampleRadios2">
                            ¿Eres declarante de renta ? 
                        </label><br>
                       
    
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" name="declaranteRenta" id="inlineRadio1"
                            [value]=true formControlName="declaranteRenta">
                            <label class="form-check-label" for="inlineRadio1">SI</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="declaranteRenta" id="inlineRadio2"
                            [value]=false formControlName="declaranteRenta">
                            <label class="form-check-label" for="inlineRadio2">NO</label>
                        </div>
                    </div><hr>
                    <div>
                            <label class="form-check-label" for="exampleRadios2">
                                ¿Realizas operaciones de moneda extranjera ? 
                            </label><br>
                            <div class="form-check form-check-inline" >
                                <input class="form-check-input" type="radio" name="opeMonedaExtranjera" id="radio1"
                                [value]=true formControlName="opeMonedaExtranjera" (click)="ValidarOtroPais('si')">
                                <label class="form-check-label" for="inlineRadio1">SI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="opeMonedaExtranjera" id="radio2"
                                [value]=false formControlName="opeMonedaExtranjera" (click)="ValidarOtroPais('no')">
                                <label class="form-check-label" for="inlineRadio2">NO</label>
                            </div>
                            
                            <div *ngIf="otroPais"> 
                                    <label class="form-check-label" for="exampleRadios2">
                                            ¿País de modeneda Extranjera? 
                                        </label><br>
                                    <select class="form-control form-control-sm" class="form-group " class="form-control mx-sm-1 mb-2"
                                    formControlName="paisOperacion">
                                    <option value="">Seleccionar</option> 
                                    <option *ngFor="let paises of PaisesInfoEconomica "> 
                                        
                                        {{paises.nombre}}
                                    </option>
                                </select>
                            </div>


                        </div><hr>

                        <div>
                                <button type="submit" class="ui-button-primary-default-focu" mat-button matStepperNext   (click)="validateForm()">Continuar </button>
                            </div>
            </form>

        </div>


    
    </mat-card>


  


</div>