<div class="principal">
    <div>
            <mat-card>
        <div>
            <h4>Ingresa tu información económica: </h4>
        </div>

        <div class="formIngresar">

            <form [formGroup]="formGroup" class="formInformacionEconomica" (ngSubmit)="submit()">
                <div class="form-group">

                    <div class="form-row">
                        <div class="col">
                            <label>Ocupación: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="ocupacion">
                                <option value="">Seleccionar</option> 
                                <option *ngFor="let ocupacion of Ocupacion" [value]='ocupacion.prohibido'>{{ocupacion.nombre}}</option>
                            </select>
                            <span style="color:Red;"
                                *ngIf="formGroup.controls['ocupacion'].touched && formGroup.controls['ocupacion'].errors?.required">la
                                ocupacion es requerida</span>
                        </div>
                        <div class="col">
                            <label>CIIU: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="ciiu">
                                <option>Small select</option> 
                               
                            </select>
                        </div>
                        <div class="col-1"  >
                            <span matTooltip="este es el tool"><img  class="logo" src="../../assets/pregunta.png " > </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Ventas anuales: </label>
                            <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="ventasAnuales">

                            <span style="color:Red;"
                                *ngIf="formGroup.controls['ventasAnuales'].touched && formGroup.controls['ventasAnuales'].errors?.required">las
                                ventas anuales son requeridas</span>
                        </div>


                        <div class="col">
                            <label>Total ingresos mensuales: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="totalIngresosMensuales">
                                <option *ngFor="let gastosmensuales of GastosMensuales ">
                                    {{gastosmensuales.cantidad}}
                                </option>
                            </select>
                            <span style="color:Red;"
                                *ngIf="formGroup.controls['totalIngresosMensuales'].touched && formGroup.controls['totalIngresosMensuales'].errors?.required">los
                                ingresos son requeridos</span>


                        </div>
                    </div>

                    <label>País origen de los ingresos: </label>
                    <select class="form-control form-control-sm" class="form-group " class="form-control mx-sm-1 mb-2"
                        formControlName="paisOrigenIngreson">
                        <option *ngFor="let paises of PaisesInfoEconomica" [value]="paises.idPaises">
                            {{paises.nombre}}
                        </option>
                    </select>
                    <span style="color:Red;"
                        *ngIf="formGroup.controls['paisOrigenIngreson'].touched && formGroup.controls['paisOrigenIngreson'].errors?.required">el
                        país es requerido</span>


                    <div class="form-row">
                        <div class="col">
                            <label>Gastos mensuales: </label>
                            <select class="form-control form-control-sm" class="form-group "
                                class="form-control mx-sm-1 mb-2" formControlName="gastosMesuales">
                                <option *ngFor="let gastosmensuales of GastosMensuales ">
                                    {{gastosmensuales.cantidad}}
                                </option>
                            </select>
                            <span style="color:Red;"
                                *ngIf="formGroup.controls['gastosMesuales'].touched && formGroup.controls['gastosMesuales'].errors?.required">los
                                Gastos mensuales son requeridos</span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>Activos: </label>
                            <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="activos">

                            <span style="color:Red;"
                                *ngIf="formGroup.controls['activos'].touched && formGroup.controls['activos'].errors?.required">los
                                activos son requeridos</span>
                        </div>
                        <div class="col">
                            <label>pasivos: </label>
                            <input type="text" class="form-group " class="form-control mx-sm-1 mb-2"
                                formControlName="pasivos">

                            <span style="color:Red;"
                                *ngIf="formGroup.controls['pasivos'].touched && formGroup.controls['pasivos'].errors?.required">los
                                pasivos son requeridos</span>
                        </div>
                    </div>


                </div>

                <div>
                    <label class="form-check-label" for="exampleRadios2">
                        ¿Estás obligado a tributar en otro país?
                    </label><br>


                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tributarOtroPais" id="radio5"
                            value="option1" formControlName="tributarOtroPais" (click)="ValidarOtroPaisTributa('si')">
                        <label class="form-check-label" for="inlineRadio1">SI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tributarOtroPais" id="radio4"
                            value="option2"  formControlName="tributarOtroPais"  (click)="ValidarOtroPaisTributa ('no')">
                        <label class="form-check-label" for="inlineRadio2">NO</label>
                    </div>
                    <div *ngIf="otroPaisTributa"> 
                            <label class="form-check-label" for="exampleRadios2">
                                    ¿ Pais que tributa ? 
                                </label><br>
                            <select class="form-control form-control-sm" class="form-group " class="form-control mx-sm-1 mb-2"
                            formControlName="paisMonedaExtranjera">
                            <option value="">Seleccionar</option> 
                            <option *ngFor="let paises of PaisesInfoEconomica "> 
                                {{paises.nombre}}
                            </option>
                        </select>
                    </div>
                </div><hr>
                <div>
                        <label class="form-check-label" for="exampleRadios2">
                            ¿Eres declarante de renta ? 
                        </label><br>
                       
    
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" name="declaranteRenta" id="inlineRadio1"
                                value="option1" formControlName="declaranteRenta">
                            <label class="form-check-label" for="inlineRadio1">SI</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="declaranteRenta" id="inlineRadio2"
                                value="option2" formControlName="declaranteRenta">
                            <label class="form-check-label" for="inlineRadio2">NO</label>
                        </div>
                    </div><hr>
                    <div>
                            <label class="form-check-label" for="exampleRadios2">
                                ¿Realizas operaciones de moneda extranjera ? 
                            </label><br>
                            <div class="form-check form-check-inline" >
                                <input class="form-check-input" type="radio" name="monedaExtranjera" id="radio1"
                                    value="si" formControlName="monedaExtranjera" (click)="ValidarOtroPais('si')">
                                <label class="form-check-label" for="inlineRadio1">SI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="monedaExtranjera" id="radio2"
                                    value="no" formControlName="monedaExtranjera" (click)="ValidarOtroPais('no')">
                                <label class="form-check-label" for="inlineRadio2">NO</label>
                            </div>
                            
                            <div *ngIf="otroPais"> 
                                    <label class="form-check-label" for="exampleRadios2">
                                            ¿Pais de modeneda Extranjera? 
                                        </label><br>
                                    <select class="form-control form-control-sm" class="form-group " class="form-control mx-sm-1 mb-2"
                                    formControlName="paisMonedaExtranjera">
                                    <option value="">Seleccionar</option> 
                                    <option *ngFor="let paises of PaisesInfoEconomica "> 
                                        {{paises.nombre}}
                                    </option>
                                </select>
                            </div>


                        </div><hr>

                        <div>
                                <button type="submit" class="btn btn-primary" mat-button matStepperNext (click)='ValidarPaisOrigen()' (click)='validarOcupacion()'>Continuar </button>
                            </div>
            </form>

        </div>


    </mat-card>



    </div>


</div>