


<div *ngIf="message.id==2" > 
    
</div>
<div *ngIf="message.id ==2">
    <h1  class="icono" mat-dialog-title>
        <img src="../../assets/cancel.png"> 
    </h1>
</div>

<div *ngIf="message.id ==1 "  >
   
    <h1  class="icono col-sm  " mat-dialog-title >        
        <img src="../../assets/check-circle.svg"> 
    </h1>
</div>


<mat-dialog-content *ngIf="message.id ==1"   class="mat-typography "   >
      <div class="mensaje" > {{message.body}} </div>
     
      
    
</mat-dialog-content  >

<mat-dialog-content   *ngIf="message.id ==2"  class="mat-typography "   >
    <div class="mensaje2" > {{message.body}} </div>
   
    
  
</mat-dialog-content >

<div *ngIf="message.id ==1" >

        <img  class="img-final " src="../../assets/ilustracion@3x.png"> 
        
</div>

<div class="dialogo" mat-dialog-actions>
    
    <button class="prueba" mat-button (click)="Aceptar()">Aceptar</button>
    
</div>