.prueba {
    margin-top: 10%;
    height: 50px;	
    width: 200px;
     border-radius: 30px;	
     background-color:#FFCF01;	
     box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 1px 3px 0 rgba(0,0,0,0.1);
     text-align:center;
     align-items: center;
     justify-content: center;
     font-family: Nunito;	
     font-size: 20px;	
     font-weight: bold;	
     letter-spacing: -0.38px;	
     line-height: 24px;
     text-align: center;
     margin-left: 50%;
     transform: translateX(-50%);
}
 

.img-final{
    height:50%;
    width: 30%;
   position: absolute; right:140px;
   position: absolute; bottom:100px;
}
.mensaje2 {
   
    
    color: #292929;
    font-family: Nunito;	
    font-size: 56px;	
    font-weight: 800;	
    letter-spacing: -0.47px;
    line-height: 50px;
    text-align: center;
   
}
.mensaje2{
    height: 100%;	
    width: 100%;	
    color: #292929;	
    font-family: "Open Sans";	
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 24px;
    text-align: center;
}

.icono{

    text-align: center;
 
}