<div class="Informacion">
        <h4  >Vincúlate a la Fiduciaria Bancolombia fácil y rápido</h4><br>

        <h5>Para realizar este proceso debes tener en cuenta lo siguiente: </h5><br>

        <li>Se requiere tener la cedula a la mano</li><br>
        <li>Se requiere ser ciudadano Colombiano</li><br>
        <li>Se requiere declaración de renta</li><br>
        <li>Se requieren ingresos superiores a $20.000.000</li>  
        <hr> 

</div>

<div class="seguridad" > 
       
       <p > <img class="logo" src="../../assets/seguridad.png"  > Usted se encuentra en una 
            zona segura, su información sera administrada con los mas altos estandares de seguridad
        </p>

       <p> <img class="logo" src="../../assets/info.png" > En este proceso puedes encontrar apoyo online,
           si presentas algun problema dirigete a nuestro chat bancolombia
        </p>

</div>
<hr>

<mat-checkbox ng-model="continuar" (click)="habilitar()" >Autorizo a Fiduciaria Bancolombia para que me consulten ante operadores de información 
                y riesgo con el fin de verificar mi información personal</mat-checkbox> 

<div>
        <re-captcha (resolved)="resolved($event)" siteKey="6Lfo_sQUAAAAAOV59gKwAzomCYSp6w2vRzwon2dD"></re-captcha>
</div>
<div  *ngIf="continuar">
  
 <button  class="ui-button-primary-default-focu" mat-button matStepperNext ng-disabled="continuar">Continuar</button>
</div>




