.Informacion{    
    padding: 5% 5% 1%;
}
.seguridad{
    padding: 1% 5% 1%;
}


.checkCondiciones{
    width: 3%;
    height: 3%;
}
.logo{
    width: 3%;
    height: 3%;
}

.ui-button-primary-default-focu {	
    height: 60px;	
    width: 220px;
     border-radius: 30px;	
     background-color:#FFCF01;	
     box-shadow: 0 0 2px 0 rgba(0,0,0,0.16), 0 1px 3px 0 rgba(0,0,0,0.1);
     text-align:center;
     align-items: center;
     justify-content: center;
     font-family: Nunito;	
     font-size: 20px;	
     font-weight: bold;	
     letter-spacing: -0.38px;	
     line-height: 24px;
     text-align: center;
     margin-left: 50%;
     transform: translateX(-50%);
}
     
