
<div class="header">
  <img class="logo" src="../assets/fiduciaria.png">
</div>


<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="formGroup">
        <div class="container">

      <app-recomendaciones ></app-recomendaciones>

         </div>
  </mat-step>

  <mat-step [stepControl]="formGroup" >
    <app-cargar-cedula></app-cargar-cedula>
  </mat-step> 

  <mat-step   [completed]="false" [stepControl]="myFormGroup">
    <app-informacion-personal (notify)='onNotify($event)' (ModeloInformacionPersonal)='onNotifyInformacionPersonal($event)' (ModeloInformacionResidencia)='onNotifyInformacionResidencia($event)'></app-informacion-personal>      
  </mat-step>

  <mat-step [completed]="false" [stepControl]="ecoformGroup">    
      <app-informacion-economica (notify)='onNotify2($event)' (ModeloInformacionEconomica)='onNotifyInformacionEconomica($event)'></app-informacion-economica>   
  </mat-step>

  <mat-step >
    <div *ngIf ='HayPersona'>
    <app-resumen-cliente [informacionPersonalCliente]= 'ModeloInformacionPersonal'></app-resumen-cliente>
  </div>
  </mat-step>

  
   
</mat-horizontal-stepper>

