.header{
    background-color: rgb(255, 238, 5);
     width: 100%;
     height: 12%;
     padding: 0.5%;
}
.headerTop{
    background-color:#1c1c1c;
     width: 100%;
     height: 5%;
     margin-bottom: 1%;
}
.logo{

    width: 15%;
    height: 100%;
}

.container{
    width: 100%;
    height: 83%;
}
.mat-horizontal-stepper-header { 
<<<<<<< HEAD
    pointer-events: none !important; 
=======
<<<<<<< HEAD
/*pointer-events: none !important; */  
=======

>>>>>>> 3d345a9bbc5424eddf554e012acb0fe73f9499fb
>>>>>>> 0c2d8d42174949eaccadb4339b62867171da6225
  }