
   
  <div class="container">
      <h3 class="h-3-heading-dark-left">Información personal:</h3><br>
    <div class="row">
      <div class="col">
        <h5>Nombre:</h5>
        <p>{{informacionPersonalCliente.nombre}}</p>
      </div>
      <div class="col order-1">
        <h5>Apellidos:</h5>
        {{informacionPersonalCliente.apellido}}
      </div>
      <div class="col order-12">
        <h5>Cédula:</h5>
        {{informacionPersonalCliente.cedula}}
      </div> 


    </div>

    <div class="row">
        <div class="col">
          <h5 >Celular:</h5>
          {{informacionPersonalCliente.celular}}
        </div>
        <div class="col order-1">
          <h5>Correo:</h5>
          {{informacionPersonalCliente.correo}}
        </div>
        <div class="col order-12">
          <h5>Estado Civil:</h5>
          {{informacionPersonalCliente.estadoCivil}}
        </div> 
        
        <div class="col order-12">
            <h5>Género:</h5>
            {{informacionPersonalCliente.genero}}

          </div>        
  
      </div><br>


     <hr> <h3 class="h-3-heading-dark-left">Información de residencia :</h3><br><br>
      <div class="row">
        <div class="col">
          <h5>País:</h5>
          <p>{{nombrePais}}</p>
        </div>
        <div class="col order-1">
          <h5>Departamento:</h5>
          {{nombreDepartamento}}
        </div>
        <div class="col order-12">
          <h5>Ciudad:</h5>
          {{nombreCiudad}}
        </div> 
        
               
  
      </div><hr>

      <div class="row">
        <div class="col">
          <h5>Dirección:</h5>
          {{informacionResidenciaCliente.inicioDireccion}}
        </div>
        <div class="col order-1">
          <h5>Número primario:</h5>
          {{informacionResidenciaCliente.numeroInicioDireccion}}
        </div>
        <div class="col order-12">
          <h5> Número secundario:</h5>
          {{informacionResidenciaCliente.numeroDireccion}}
        </div> 
        
        
        
  
      </div>

      <hr> <h3 class="h-3-heading-dark-left">Información económica:</h3><br><br>

      <div class="row">
        <div class="col">
          <h5>Ocupación:</h5>
          <p>{{informacionEconomicaCliente.ocupacion}}</p>
        </div>
        <div class="col order-1">
          <h5>Codigo CIIU:</h5>
          {{informacionEconomicaCliente.ciiu}}
        </div>
        <div class="col order-12">
          <h5>País origen de los ingresos:</h5>
          {{informacionEconomicaCliente.paisOrigenIngreson}}
        </div> 
      </div><br><br>

        <div class="row">
          <div class="col order-12">
            <h5>Ingresos mensuales:</h5>
            {{informacionEconomicaCliente.totalIngresosMensuales}}
          </div> 
            <div class="col">
              <h5>Gastos mensuales:</h5>
              <p>{{informacionEconomicaCliente.gastosMesuales}}</p>
            </div>
            <div class="col order-1">
              <h5>Activos:</h5>
              {{informacionEconomicaCliente.activos}}
            </div>
            <div class="col order-12">
              <h5>Pasivos:</h5>
              {{informacionEconomicaCliente.pasivos}}
            </div> 

          
        
               
  
      </div><br><br><hr>
      <button type="submit"  neme="submit"  id="btnSubmit"  class="ui-button-primary-default-focu "   mat-button matStepperNext (click)="GuardarInformacion()" >Enviar </button>
  </div>
       